name: OpenCore-Package

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build-macos:
    name: Build OpenCore-Package
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4

      - name: Manage Version
        run: |
          git fetch --prune --unshallow --tags
          echo "CUR_TAG=$(git tag -l | tail -1)" >> $GITHUB_ENV
          echo "GIT_SHA=$(git rev-parse --short HEAD)" >> $GITHUB_ENV


      - name: Build OpenCore-Package
        run: |
          chmod +x ./OpenCorePackageProdesk/Build-Package
          ./OpenCorePackageProdesk/Build-Package "" G1
      - name: Prepare Release
        run: |
          (cd "OpenCorePackageProdesk/" || exit 1)
          releaseItems=(OpenCorePackageProdesk/OpenCore-Package.pkg)
          for releaseItem in "${releaseItems[@]}"; do cp -Rf "${releaseItem}" ./ || exit 1; done
      - name: Upload to Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: OpenCore-Package-${{ env.GIT_SHA }}
          path: |
            OpenCore-Package.pkg
                    
